In [1]:
a=1; a=float(a); print(type(a))

<class 'float'>

float - 어떤 variable이 들어오면 이 variable의 type를 float type로 바꿔줌. / a의 type이 원래 int(숫자)였지만, float함수를 통해 float으로 바꾼 것을 다시 a라는 variable 속에 넣음. / 그 float(a)의 type은 float임.

In [2]:
s='abcdef'

In [3]:
n=[100,200,300]

In [4]:
print(s[0], s[5], s[-1], s[-6])

a f f a

c=a[0] + b[0] / a list에서 0번째, b list에서 0번째 /list에서 일부분만 access할 때 []와 그 안에 몇번째 정보인지를 나타냄으로써 가져올 수 있다.

In [5]:
print(s[1:3], s[1:], s[:3], s[:])

bc bcdef abc abcdef

[a:b] - a에서 b번째 직전까지의 정보를 가져와라. / b번째까지가 아닌 b-1번째 까지의 정보를 말하는 것이므로 헷갈리지 않게 주의하기.

In [6]:
print(n[1:2],n[1:],n[:2],n[:])

[200] [200, 300] [100, 200] [100, 200, 300]

In [7]:
len(s)

6

In [8]:
len(n)

3

len 함수 - 길이를 알려줌.

In [9]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [10]:
s.upper()

'ABCDEF'

variable.upper() - 정보가 대문자로 바뀜.

In [33]:
s=' this is a house built this year. $n. '
s

' this is a house built this year. $n. '

In [18]:
result=s.find('house')
result

11

In [20]:
result=s.rindex('this')
result

23

variable.rindex() - 두번째로 나온 것.

In [21]:
result=s.find('this')
result

1

In [31]:
s=s.strip()
s

'this is a house built this year. $n.'

In [32]:
tokens=s.split(' ')
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.', '$n.']

split - 이 긴 string을quote('')안(space)에 있는 것을 이용해서 잘라라.

In [34]:
s=' '.join(tokens)
s

'this is a house built this year. $n.'

join(tokens) - quote('')안에 있는 것(,)을 이용하여 tokens에 들어있는 list들을 붙여라.

In [35]:
s=','.join(tokens)
s

'this,is,a,house,built,this,year.,$n.'

In [37]:
s=' '.join(tokens)
s

'this is a house built this year. $n.'

In [38]:
s=s.replace('this','that')
s

'that is a house built that year. $n.'